*{
  margin: 0;
  padding: 0;
}
body {
  font-family: Arial, sans-serif;
  background-color: #b7eaf7;
}

/* Home page*/
.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh; /* full height of the window */
  width: 100vw; /* full width of the window */
}
#home{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
#home h1{
  margin-bottom: 30%;
  font-size: 40px;
}
#nameInput{
  width: 100%;
  padding: 10% 20%;
    font-size: 16px;
    border-radius: 5px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
}

#playBtn{
  font-size: 2rem;
  padding: 10% 20%;
  width: 100%;
  text-align: center;
  border: 0.1rem solid #56a5eb;
  margin-bottom: 1px;
  text-decoration: none;
  color: white;
  background-color: #56a5eb;
}

/* start.html */

header{
  width: 100%;
  height: 10vp;
  background: #56a5eb;
  margin: 0;
  text-align: center;
  color:#fff;
}
.detail{
  display: flex;
  justify-content: space-between;
  color: #56a5eb;
  margin: 20px;
}

.quiz-container {
  max-width: 500px;
  margin: 40px auto;
  padding: 20px;
  background-color: #fff;
  border: 1px solid #ddd;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.question-container {
  margin-bottom: 20px;
}

#question {
  font-size: 18px;
  font-weight: bold;
}

#options {
  list-style: none;
  padding: 0;
  margin: 0;
}

#options li {
  margin-bottom: 10px;
}

#options li label {
  cursor: pointer;
}

#submit-btn, #next-btn {
  background-color: #4CAF50;
  color: #fff;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

#submit-btn:hover, #next-btn:hover {
  background-color: #3e8e41;
}

.result-container {
  margin-top: 20px;
}

#result {
  font-size: 18px;
  font-weight: bold;
}